.profile-photo{
    border-radius:50%;
    margin: 10px 10px;
    width:100px;
    height:100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body{ background-color: #2196F3; color: #FFFFFF; font-family: 'Roboto', sans-serif;}

.container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
  text-align: center;
}

hgroup{
    margin:0 auto;
}

hgroup>h1{
  font-size: 24px;
  margin:0px;
}

hgroup>h2{
  font-size: 16px;
  font-weight: lighter;
  margin:0px;
}

button{
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: #FF5252;
  border:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button>img{
  padding-left:1px;
  width:70%;
  height: auto;
}

button:hover{
  background-color: #ee6464;
  cursor:pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

hr{
  width:80%;
  border-color:#FFFFFF;
}

@media screen and (min-width: 360px){
  hgroup>h1{
    font-size: 30px;
  }

  hgroup>h2{
    font-size: 20px;
  }
}

@media screen and (min-width: 480px){
  hgroup>h1{
    font-size: 36px;
  }

  hgroup>h2{
    font-size: 26px;
  }
}

@media screen and (min-width: 640px){
  hgroup>h1{
    font-size: 42px;
  }

  hgroup>h2{
    font-size: 30px;
  }

  .profile-photo{
      width:130px;
      height:130px;
  }
}
