html, body, #app{
    height:100%
}

.login-background{
    height:100%;
    width:100%;
    background-image: url('./../img/login-background-image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.login-form {
    padding: 40px 40px;
    width: 400px;
    max-height: 500px;
    background-color: white;
}

.product-logo-login {
    width: auto;
    height:auto;
}

/**Bootstrap customs for prototype, must be changed to SASS variables*/

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2b6be8 !important;
    border: none !important;
}
/*Estilos viejos*/

.page{
    min-height: 100vh;
    background-color: #F7F7F7;
}
.menu {
    list-style-type: none;
}

.background-color {
    background-color: white;
}

.logo{
    height:100px;
    width:auto;
}

.navigator{
    color:white;
    font-size:12px;
    font-weight: gold;
}

.navigator-content{
    padding:10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.navigation-icon{
    height:auto;
    width:30px;
    margin-right:5px;
}

.login{
    font-size:12px;
}

.logout-icon{
    height:15px;
    width:15px;
    margin-right:5px;
}

.btn-icon{
    height:20px;
    width:20px;
    margin-right:5px;
}

.menu-item{
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:200px;
    width:200px;
    margin:10px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #2b6be8 !important;
}

.menu-item:hover{
    cursor: pointer;
}

.menu-item:active{
    background-color:rgba(255, 255, 255, 0.2)
}

.menu-option-container{
    width:200px;
}

.menu-name{
    font-weight: bold;
    text-align:center;
}

.menu-icon{
    width: auto;
    height: 80px;
    margin:0px 10px;
    z-index:1;
}
.option-description{
    display: none;
}

.change-language-box{
    text-align: right;
}

.change-language-flag{
    border: 1px solid white;
    margin-left:10px;
    border-radius: 5px;;
}

.change-language-flag:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    margin-left:10px;
    border-radius: 5px;;
    cursor:pointer;
}

.horizontal-btn-group{
    padding: 0px 5px;
}

.change-language-flag:hover{
    cursor: pointer;
}

.footer{
    font-size:12px;
    padding:10px;
    background-color:#233884;
    color:white;
}

.header{
    text-align:right;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header-text{
    color:black;
}

.divisor-text{
    color:black;
}

.right-header-container{
    margin-left:auto;
}

.input-form{
    background-color:white;
    border-radius: 10px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    padding: 40px 3rem 20px 3rem;
}
/*
.input-form::before{
    display: block;
    position: sticky;
    top:0;
    right: 0;
    height: 40px;
    background:white;
    content: '';
    z-index: 50;
}*/

.form-row{
    margin-bottom:20px;
}

.color-input{
    color:white;
}

.color-input:focus{
    color:white;
}

.btn-primario{
    background-color:#233884;
    color:white;
}

.btn-primario:hover{
    color:white;
    background-color:#3a5bd3 !important;
}

.btn-logout:hover{
    background-color:#3a5bd3 !important;
}

.main-content{
    margin:20px 40px;
}

.creator-logo{
    height:auto;
    width:150px;
}

.copyright{
    padding-left:10px;
}

.primary-color{
    background-color: #233884;
}

.secondary-color{
    background-color:#E5E5E5;
}

.primary-text{
    color:#FDFDFD;
}


.secondary-text{
    color:#233884;
}

.header-color{
    background-color:#f7f7f7;
}

.btn-icon-alone{
    margin:0px;
}

.divisor-color{
    background-color:#f7f7f7;
}

.client-logo{
    margin-right:20px;
}

.btn:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color:white;
}

.btn{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover{
    cursor: pointer;
}

.horizontal-btn{
    margin-left:5px;
}

.input-extra-sm{
    width:100px !important;
}

.multi-select-extra-sm{
    width:auto;
    min-width:100px;
}

th{
    white-space: nowrap;
}

.filter-form{
    font-size: 12px;
    padding:20px;
}

.filter-header{
    font-size: .875rem;
    font-weight: bold !important;
}

.query-result-table{
    font-size: 12px !important;
}

.option-title{
    border-radius: 10px;
    height:50px;
    padding:10px;
    font-size:20px;
    font-weight: bold;
}

object{
    pointer-events: none;
}
.logout{
    background-color:none;
    box-shadow: none;
    padding-top:5px;
}
.dropdown-item, .no-results{
    font-size:14px;
}

.bs-searchbox > input{
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.main-container > .row{
    min-height: 100%
}
#query-result_length > label > select{
    width:60px;
}

.input-sm-md{
    width:120px !important;
}


@media (min-width: 1px) {
    .menu-item{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height:auto;
        width:310px;
        max-height: 90px;
        margin:10px;
        padding:10px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color: #233884;
    }

    .menu-icon{
        width: auto;
        height: 60px;
        margin:0px 10px;
        z-index:1;
        overflow-y: visible;
    }

    .option-description{
        display: block;
        font-size: 0.8rem;
        height:25px;
    }

    .menu-name{
        font-weight: bold;
        text-align:left;
    }
    
}
/*
* CSS Custom para formularios
*/

.section-header{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    color: #233884;
    font-weight:bold;
}

.form-actions-container{
    padding-top: 20px;

}


.step-progress-bar .progress {
    height: 15px;
    position: relative;
    overflow: visible;
    background-color: #aaa;
  }
  .step-progress-bar .progress-bar {
      background-color: #003366;
  }
  .step-progress-bar .step-circle {
      border-style: solid;
      border-width: 3px;
      background: #ffffff;
      position: absolute;
      display: table-cell;
      height: 46px;
      width: 46px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      font: 28px "josefin sans", arial;
      text-align: center;
      margin-top: 0px;
      padding-top: 5px; 
      margin-left: -5px; 
  }
  .step-progress-bar .current-step-circle {
      color: #003366;
      background-color: #fff;
      border-color: #003366;
  }
  .step-progress-bar .completed-step-circle {
      color: #fff;
      background-color: #003366;
      border-color: #003366;
  }
  .step-progress-bar .not-started-step-circle {
      color: #aaa;
      background-color: #fff;
      border-color: #aaa;
  }
  .step-title-header {
      font-family: Arial, Helvetica, sans-serif;
      color: #003366;
  }  

  .a-sidebar,
.a-sidebar:hover,
.a-sidebar:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.a-sidebar{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center !important;
}

.az-navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.az-navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.az-wrapper {
    display: flex !important;
    width: 100% !important;
}

#az-sidebar {
    width: 250px;
    position: relative;
    min-height: 100%;
    z-index: 999;
    background: #2b6be8;
    color: #fff;
    transition: all 0.3s;
}

#az-sidebar.active {
    margin-left: -250px;
}

#az-sidebar .az-sidebar-header {
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#az-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#az-sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#az-sidebar ul li a:hover {
    color: gray;
    background: #fff;
}

#az-sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.az-dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: rgba(0, 0, 0, 0.4);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(rgb( 35, 56, 132));
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.az-dropdown ul li a:hover {
    color: var(rgb( 35, 56, 132));
    background: #fff;
}
.az-dropdown {
	color: white;
	text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 40px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.list-unstyled-sb {
    padding-left: 0;
    list-style: none;
    overflow: auto;
    overflow-x: hidden;
    max-height: 50rem;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
    #az-sidebar {
        margin-left: -250px;
    }
    #az-sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #az-content.active {
        width: calc(100% - 250px);
    }
    #az-sidebarCollapse span {
        display: none;
    }
}

.sidemenu-button{
    border-radius: 0px
}

.sidemenu-button:hover{
    transition: none;
    transform: none;
}

.sidebar-item-icon{
    height:30px;
    margin-right: 10px;
    width:auto
}
.information-header{
    position: sticky;
    top: 60px;
    border-radius: 10px;
    height:100px;
    margin-bottom: 1rem;
    z-index: 999;
    background: white;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);*/
    padding: 1rem 0rem;
    padding: 1rem 2.5rem;
    margin: 0px 40px;
    background-color:white;
    border: 1px solid lightgray;
}

.information-header-title{
    padding-bottom: 10px;
    color: #233884;
    font-weight:bolder;
    z-index:999;
}

.information-header-subtitle{
    padding-bottom: 10px;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    
}

.actions-menu{
    position: sticky;
    top: 60px;
    width:300px;
    /* height: 100%; */
    padding: 20px;
    border-left: 0.5px solid lightgray;
    align-self: flex-start;
    margin-right: 2rem;
}

.action-menu-item-text{
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
    margin-left: 0.5em;
}
.action-menu-item-hyperlink{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: rgb( 35, 56, 132);
    margin-bottom: 0.5em;
    font-weight: 600;
    transition: color 0.2s ease;
}

.action-menu-item-hyperlink:not(.active){
    color: gray;
    font-weight: 400;
}


.action-menu-item-hyperlink:hover{
    text-decoration: none;
    color: rgb( 35, 56, 132);
    opacity: 0.9;
}

.navigation-panel {
    background-color: #fff;
    min-height: 40px;
    position: sticky;
    top:0;
    z-index: 999;
    width: 100%;
    margin-top:6px;
    border-radius: 0px 0px 5px 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
}

.location-container{
    padding: 3px 5px;
    font-size: 1.1em;
    font-weight: 600;

}
.location-hyperlink{
    color: gray;
    margin-bottom: 0.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:20px;
    margin:0px;

}

.location-hyperlink > span{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.location-container.active .location-hyperlink{
    color: #233884;
    font-weight: 600;
}

.location-container.active{
    border-radius: 5px;
}

.location-hyperlink:hover{
    text-decoration: none;
    color: #233884;
    opacity: 0.9;
}

.location-separator {
    color: gray;
    margin: 0px 0.5rem;
}

.current-location-icon{
    color: #233884;
    width:15px;
    height:auto;
    margin-right: 0.2em;
}

/*CSS Sidenav Responsive*/
.responsive-sidebar{
    position:relative;
    height:100%;
    width:78px;
    background: rgba( 35, 56, 132, 1);
    padding: 6px  14px;
    transition: all 0.5s ease;
    z-index: 999;
}

.responsive-sidebar .logo-container{
    position: sticky;
    top:8px;
}

.responsive-sidebar .nav-list{
    position: sticky;
    top:78px;
}

.responsive-sidebar.active{
    width: 300px;
}

.responsive-sidebar .logo-container .logo {
    color: #fff;
    display: flex;
    height:50px;
    width:100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.responsive-sidebar.active .logo-container .logo {
    opacity: 1;
    pointer-events: none;
}


.logo-container .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo-container .logo .logo-name{
    font-size: 20px;
    font-weight: 400;
}

.logo-container #sidebar-toggle-button{
    position: absolute;
    color: #fff;
    left: 50%;
    top:6px;
    font-size: 30px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.responsive-sidebar.active .logo-container #sidebar-toggle-button{
    left: 90%;
}


.responsive-sidebar ul{
    margin-top: 20px;
    padding-left: 0px;
}

.responsive-sidebar ul li{
    position:relative;
    height:50px;
    width: 100%;
    list-style: none;
    margin: 0px 0px;
    line-height: 50px;
    border-radius: 12px;

}

.responsive-sidebar ul li .link-name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.responsive-sidebar.active ul li .link-name{
    opacity: 1;
    pointer-events: auto;
}

.responsive-sidebar ul li .link-tooltip{
    position: absolute;
    left:122px;
    height: 35px;
    top:0;
    transform: translate(-40%, -50%);
    border-radius: 6px;
    width: auto;
    padding: 0px 10px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.responsive-sidebar.active ul li .link-tooltip{
    display: none;
}

.responsive-sidebar ul li:hover .link-tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top:50%;

}

.responsive-sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;

}

.responsive-sidebar ul li a:hover{
    color: rgba( 35, 56, 132, 1);
    background: #fff;
}


.responsive-sidebar ul li:last-child a:hover{
    color: inherit;
    background: inherit;
}

.responsive-sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
    background: rgb(60, 78, 139);
}

.responsive-sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color:#fff;
    font-size: 22px;
    transition: all 0.5 ease;
}

.responsive-sidebar ul li .bx-search:hover{
    background: #fff;
    color:rgb(60, 78, 139);

}

.responsive-sidebar ul li i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}

/*Data table*/

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: left;
    margin-left: 2%;
    padding-top: 3px;
}
.dataTables_wrapper .dataTables_length {
    float: right;
    margin-bottom: 0.5em;
}
div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
}

div.dataTables_wrapper div.dataTables_length label select{
    margin: 0px 0.2em !important;
}
.datatable-title{
    float:left;
    font-weight: 700;
    color: #233884;
    margin-bottom: 0.5em;
}

thead tr th{
    display: table-cell;
    /* background:#233884; */
    position: -webkit-sticky !important; 
    position: -moz-sticky; 
    position: -ms-sticky; 
    position: -o-sticky; 
    position: sticky;
    top: 0;
    border-bottom: none;
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}

thead tr th::after{
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #aba8a8;
    position: absolute;
    right: -1px;
    height: 40px;
    top: 0px;
    border-bottom: none;

}


table.dataTable tbody tr:hover td {
    cursor: pointer;
}

table.dataTable tbody tr td > div {
    transition: none;
}


table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
    border: none;
    border-top: none;
    border-bottom: none;

}

table.dataTable td, table.dataTable th {
    /* border: 1px solid #e0e0e0;
        border-right-color: rgb(224, 224, 224);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: 1px solid #e0e0e0; */
}

.dataTable thead tr > th {
    /* border:none;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray; */
}

.dataTable thead tr > th:first-child{
    border-left:none;
}

.dataTable thead tr > th:last-child{
    border-right:none;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 8px 6px 18px !important;
    }

    table.dataTable.no-footer{
        /* border-bottom: 1px solid #a3a0a0 !important; */
    }

    table.dataTable > thead {
        position: sticky;
        top: 0;
        left: 0;
    }

    .msjT tbody td, .msjT thead tr td {
        font-family: 'Courier New';
    }
    .msjT {
        font-family: 'Courier New';
        margin-top: 3%;
    }
    table.msjT thead tr, .msjT tbody tr td:first-child, .msjT tbody tr td:last-child {
        font-weight: bolder;
        color: #1b408c;
    }
    td.msg-data {
        /* border: 0.1px solid rgb(231, 231, 231); */
        font-weight: bolder;
    }
    
    .modal-scroll-y{
        overflow-y: auto;
        height: 450px;
    }
    td.msg-hex2, td.msg-hex1 {
        font-weight: bolder;
    }
    td.msg-hex2 {
        color: rgb(0, 128, 0);
    }
    td.msg-hex1 {
        color: rgb(44, 84, 236);
    }

    .selected td{
	    background-color: #B0BED9 !important;
    }
    table {
	    border-collapse: collapse;
        /* overflow: hidden; */
        width: 100% !important;
        font-size: .875rem;
        border:none;
    }

    table.dataTable.no-footer{
        border-bottom: none;
    }

    /*Nuevo CSS de tabla*/

    table.dataTable > thead {
        position: sticky;
        top: 0;
        left: 0;
    }
    .wrapper{
        margin-bottom: 0.5em;
    }

    .tableWrapper{
        overflow-x:auto;
        clear:both;
        height: 550px;
        animation: none;
        transition: none;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
        margin-bottom: 0.5em;
    }


/*Table Background*/
.tableWrapper{
    background-color: rgba(35,56,132,0.1);
    border: 1px solid rgba(35,56,132,0.9);
    border-radius: 5px;
}

table.dataFrame{
    margin-top:0px !important;
}
/*Table Header*/
.dataJustTable th,.dataFrameModal th,.dataFrame th{
    /* background: #233884; */
    color: #233884;
}

/*Table odd row*/
table.dataTable tbody tr.odd td{
    background-color:rgba(35,56,132,0.2);
}

/*Table hover*/
table.dataTable tbody tr:hover td {
    background:rgba(35,56,132,0.8) !important;
    color: #FDFDFD;
    font-weight: 600;
    transition: all ease 0.1s;

}
th {
    background-color: white !important;
    font-weight: 600 !important;
    border-bottom: none;
}

.filter-title{
    display: flex;
    align-items: center;
}

.filter-icon{
    font-size: 36px;
    margin-right: 5px;;
}


.nav-list.clai-logo-container{
    position: fixed;
    bottom:0;
    top:auto;
}

label{
    font-size: 0.8rem;
}

.menu-category-name{
    color: #233884;
    border-bottom: 2px solid #233884;
    padding-bottom: 0.5rem;
    margin: 0.5rem 0rem;
    display: flex;
    align-items: center;
}

.menu-category-icon{
    width: auto;
    height: 35px;
}

.menu-action-container{
    border-top: 1px solid lightgray;
    margin: 2rem 0rem;
    padding-top: 0.5rem;
}

.help-indicator{
    display: inline-block;
    color: #fff;
    background-color: gray;
    width:20px;
    height:20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.toolbox {
    margin-top:10px;
    padding: 5px;
    width: 15%;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    text-align: right;
}
.toolbox-button{
    background-color: lightgray;
    width:40px;
    text-align: center;
    height:40px;
    font-size:16px;
    transform: none !important;
    box-shadow: none;

}

.toolbox-button{
    color:black !important;
    width:40px;
    text-align: center;
    height:40px;
    font-size:20px;
    transform: none !important;
    padding: 0px;
}

.toolbox-button.active{
    background-color:#3d5992fd;
    color:#fff !important;
    opacity: 0.89;
}

.irs--flat .irs-bar{
    background-color: #2b6be8;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    background-color: #2b6be8;
}

.irs--flat .irs-handle > i:first-child{
    background-color: #183b83;
}

.editor{
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 10px;
}
/**
* Panel de usuario
*/
#user-panel{
    border: 1px solid lightgray;
    background-color:rgb(250, 250, 250);
    border-radius: 80px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.user-image-holder{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-image: url('../img/user.jpg');
    background-position: center;
    background-size: cover;
}

.user-popover{
    display: none;
    width:250px;
    padding: 20px 10px 10px 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tippy-box[data-theme~="translucent"]{
    /* background-color:rgb(199, 199, 199) !important; */
    background-color:white !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tippy-box[data-theme~="translucent"][data-placement^="bottom"] > .tippy-arrow::before {
    border-width: 0 7px 7px;
    border-bottom-color: white !important;
}
.user-option{
    text-align: left;
    padding: 2px 0px;
}